@{
    ViewData["Title"] = "Home Page";
}

   
       
        <div class="card alert alert-primary mt-5">
            <div class="card-body">
                <form asp-controller="Products" asp-action="Location">

                    <div class="col"><input type="text" name="searchString" class="form-control" placeholder="Search by Location.."></div>

                </form>

            </div>
        </div>
    
